@import '../style/Base.scss';

/* .container {
    padding: 30px;
} */
.container {
    //width: 100vw;
    height: 100vh;
    /*     display: flex;
    flex-flow: column;
    justify-content: space-between; */
    display: grid;
}