.main {
    &--error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: calc(2.5rem + 2vw);
        }
    }
}